/* Custom Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind css Import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS varibles */
:root {
  /* Primary colors */
  --primary: #d47100;
  --primary-2: ;
  --primary-3: #fff6ed;
  --primary-hover: ;

  /* Secondary Colors */
  --secondary: ;

  /* Text colors */
  --heading-text: #3a3a3a;
  --body-text: #595959;
  --text-primary: ;
  --text-primary-2: ;
  --text-primary-3: ;

  /* Background color */
  --background: #f9f9f9;

  /* Smooth Transition */
  --transition: all 0.3s ease;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem; /* 40px */
}
h2 {
  font-size: 2.25rem; /* 36px */
}

h3 {
  font-size: 1.5rem; /* 24px */
}

h4 {
  font-size: 1.1rem; /* 20px */
}

p {
  font-size: 1rem; /* 16px */
}

.figcaption {
  font-size: 0.875rem; /* 14px */
}

li {
  list-style-type: none;
}

body {
  background-color: var(--background);
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.driver-dashboard-container {
  width: 100%;
}

/* Media Queries */
@media (min-width: 1500px) {
  .container {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
  }
  .driver-dashboard-container {
    max-width: 70%;
    margin: 0 auto;
  }
}
/* Larger screens (desktops) */
@media (max-width: 990px) {
}

/* Medium screens (e.g., tablets) */
@media (max-width: 767px) {
}

/* Small screens (e.g., phones) */
@media (max-width: 576px) {
}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}

@media (max-width: 325px) {
}
